html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 1;
  padding: 10px;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-selfie {
  padding: 10px;
  height: 100px;
}

.header-selfie img {
  border: 2px solid black;
  border-radius: 50%;
}

.header-info {
  padding: 5px;
  flex: 1;
}

.header-info h1,
h2 {
  margin: 5px 0;
}

#main {
  display: flex;
  flex: 3;
  padding: 10px 10px 10px 0px;
  flex-direction: column;
}

.page {
  background-color: #ccc;
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

#top-menu-bar,
footer {
  text-align: center;
  background-color: #334455;
  color: #fff;
  padding: 0;
  margin: 0;
}

#top-menu-bar li,
#footer-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#top-menu-bar a,
#footer-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  margin: 2px 0;
}

#top-menu-bar a:hover,
#footer-menu-bar a:hover {
  background-color: #fff;
  color: #334455;
}

.endorsements {
  color: blue;
}
